<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Announcement</title>
    <link rel="stylesheet" href="3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</head>
<body>
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="active item big_font teal">
                    <h2 class="ui icon header">
                        <!-- <i class="settings icon"></i> -->
                        <div class="content">Announcement
                        </div>
                    </h2>
                </a>
                <a class="item big_font teal" th:href="@{/course/mailbox/{course_id}/{user_id}(course_id=${course.id},user_id=${user.id})}">
                    <h2 class="ui icon header">
                        <!-- <i class="book icon"></i> -->
                        <div class="content">Mailbox
                        </div>
                    </h2>
                </a>
                <a class="item big_font teal" th:href="@{/course/channel/{course_id}(course_id=${course.id})}">
                        <h2 class="ui icon header">
                            <!-- <i class="book icon"></i> -->
                            <div class="content">
                                Channel
                            </div>
                        </h2>
                </a>
                <a class="item big_font teal" th:href="@{/course/grade/{course_id}(course_id=${course.id})}">
                    <h2 class="ui icon header">
                        <!-- <i class="book icon"></i> -->
                        <div class="content">
                            Grade
                        </div>
                    </h2>
                </a>
                <!--<a class="item big_font teal" th:href="@{/course/comment/{course_id}(course_id=${course.id})}">-->
                    <!--<h2 class="ui icon header">-->
                        <!--&lt;!&ndash; <i class="book icon"></i> &ndash;&gt;-->
                        <!--<div class="content">-->
                            <!--Comment-->
                        <!--</div>-->
                    <!--</h2>-->
                <!--</a>-->
                <a class="item big_font teal" th:href="@{/services/showclasses/{user_id}(user_id=${user.id})}">
                    <h2 class="ui icon header">
                        <div class="content">Courses
                        </div>
                    </h2>
                </a>
                <!--<a class="item big_font teal">-->
                    <!--<h2 class="ui icon header">-->
                        <!--&lt;!&ndash; <i class="book icon"></i> &ndash;&gt;-->
                        <!--<div class="content">files-->
                        <!--</div>-->
                    <!--</h2>-->
                <!--</a>-->
            </div>
        </div>

        <div class="twelve wide stretched column">
            <div class="ui segment" id="announcements">
                <div th:fragment="annList">
                    <div class="ui divided items">
                        <div class="item" th:each="announcement : ${announcements}">
                            <div class="content">
                                <div class="ui center aligned container">
                                    <h2 class="ui header" th:text="${announcement.headerLine}">Subject Line 1</h2>
                                </div>
                                <div class="description">
                                    <p th:text="${announcement.content}" style="font-size: 19px;font-family: Arial">Content ssss ddddddddddddddddddddddddddddddddddddddd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script th:inline="javascript">

        $(function(){
            setInterval(aa,1000);
            function aa(){
                $("#announcements").load(/*[[@{/course/ann/{course_id}(course_id=${course.id})}]]*/"");
            }
        })
    </script>

</body>
</html>
