<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <div class="ui grid">
        <!--Left side bar-->
        <div class="two wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item big_font" id="account-left-bar">
                    <h2 class="ui icon header">
                        <i class="settings icon"></i>
                        <div class="content">Account
                        </div>
                    </h2>
                </a>
                <a class="active item big_font teal" id="classes-left-bar">
                    <h2 class="ui icon header">
                        <i class="book icon"></i>
                        <div class="content">Courses
                        </div>
                    </h2>
                </a>
                <a class="item big_font teal" th:href="@{/logout}">
                    <h2 class="ui icon header">
                        <i class="sign out alternate icon"></i>
                        <div class="content">Logout
                        </div>
                    </h2>
                </a>
            </div>
        </div>

        <div class="fourteen wide stretched column">
            <!--<div class="ui segment">-->

                <form class="ui large form" method="post" action="#" th:action="@{/services/teacher/addcourse/{id}(id=${session.user.id})}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="i cursor icon"></i>
                                <input type="text" name="identifier" placeholder="course id...">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="book icon"></i>
                                <input type="text" name="name" placeholder="course name...">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="info icon"></i>
                                <input type="text" placeholder="description..." name="description">
                            </div>
                        </div>
                        <button class="ui fluid large blue submit button">Add Course</button>
                    </div>
                    <div class="ui mini positive message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        Successfully add the course
                    </div>
                </form>

            <!--</div>-->

            <div class="ui segment">
                <div class="ui three column grid">
                    <div class="column" th:each="course : ${courses}">
                        <a class="ui fluid card" th:if="${session.user.role==0}" th:href="@{/course/announcements/{id}(id=${course.id})}">
                            <div class="image" >
                                <img src="../static/images/yellow.jpg" th:src="@{/yellow.jpg}" style="height: 200px">
                            </div>
                            <div class="content">
                                <div class="header" th:text="${course.name}">Chinese</div>
                                <div class="description" th:text="${course.description}">This is Chinese class.</div>
                            </div>
                        </a>

                        <a class="ui fluid card" th:if="${session.user.role==1}" th:href="@{/course/announcements/teacher/{id}(id=${course.id})}">
                            <div class="image" >
                                <img src="../static/images/yellow.jpg" th:src="@{/yellow.jpg}" style="height: 200px">
                            </div>
                            <div class="content">
                                <div class="ui header" th:text="${course.name}">Chinese</div>
                                <div class="ui description" th:text="${course.identifier}">Chinese</div>
                                <div class="ui description" th:text="${course.description}">This is Chinese class.</div>
                            </div>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
</body>
</html>