<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tutoring Agency Information</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</head>
<body>

    <nav class="ui inverted attached segment">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header">T&P Home</h2>
                <a href="#" class="item"><i class="mini home icon"></i>Math</a>
                <a href="#" class="item"><i class="mini idea icon"></i>Writing</a>
                <a href="#" class="item"><i class="mini tags icon"></i>Reading</a>
                <a href="#" class="item"><i class="mini clone icon"></i>SAT</a>
                <a href="#" class="item"><i class="mini sitemap icon"></i>Science</a>
                <a href="#" class="item"><i class="mini history icon"></i>History</a>
                <div class="right item">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search course tutoring...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="ui container">
        <div class="ui center aligned segment">

            <h3 class="ui header">
                SAT
            </h3>

            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 1</div>
                    <div class="meta">
                        <span class="category">SAT</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency1 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 2</div>
                    <div class="meta">
                        <span class="category">SAT</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency2 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 3</div>
                    <div class="meta">
                        <span class="category">SAT</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency3 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 4</div>
                    <div class="meta">
                        <span class="category">SAT</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency4 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 5</div>
                    <div class="meta">
                        <span class="category">SAT</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency5 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 6</div>
                    <div class="meta">
                        <span class="category">SAT</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency6 </div>
                </div>
            </a>


        </div>
        <div class="ui center aligned segment">

            <h3 class="ui header">
                Math
            </h3>

            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 1</div>
                    <div class="meta">
                        <span class="category">Math</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency1 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 2</div>
                    <div class="meta">
                        <span class="category">Math</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency2 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 3</div>
                    <div class="meta">
                        <span class="category">Math</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency3 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 4</div>
                    <div class="meta">
                        <span class="category">Math</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency4 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 5</div>
                    <div class="meta">
                        <span class="category">Math</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency5 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 6</div>
                    <div class="meta">
                        <span class="category">Math</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency6 </div>
                </div>
            </a>


        </div>
        <div class="ui center aligned segment">

            <h3 class="ui header">
                History
            </h3>

            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 1</div>
                    <div class="meta">
                        <span class="category">History</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency1 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 2</div>
                    <div class="meta">
                        <span class="category">History</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency2 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 3</div>
                    <div class="meta">
                        <span class="category">History</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency3 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 4</div>
                    <div class="meta">
                        <span class="category">History</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency4 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 5</div>
                    <div class="meta">
                        <span class="category">History</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency5 </div>
                </div>
            </a>
            <a class="ui card" href="http://www.dog.com" style="display: inline-block">
                <div class="content">
                    <div class="header">Course 6</div>
                    <div class="meta">
                        <span class="category">History</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author"> tutoring agency6 </div>
                </div>
            </a>


        </div>
    </div>



</body>
</html>